*.sdf
*.tlog
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.user
*.ipch
*.log
*.cache
*.ilk
Debug/WRenderer.exe
Debug/WRenderer.pdb
WRenderer/Debug/main.obj
WRenderer/Debug/vc100.pdb
WRenderer/nsight_profiler.cfg
WRenderer/x64/Debug/AssimpParser.obj
WRenderer/x64/Debug/Texture.obj
WRenderer/x64/Debug/WLoader.obj
WRenderer/x64/Debug/WRenderer.obj
WRenderer/x64/Debug/main.obj
WRenderer/x64/Debug/vc100.pdb
x64/Debug/DevIL.dll
x64/Debug/WRenderer.exe
x64/Debug/WRenderer.pdb
x64/Debug/assimp.dll
x64/Debug/glew32d.dll
x64/Debug/sfml-graphics-d-2.dll
x64/Debug/sfml-window-d-2.dll
x64/Debug/sfml-system-d-2.dll